
body{
    background-color:rgb(255, 213, 213);
}
h1{
    text-align: center;
    color: rgb(43, 156, 255);
    font-size: 40px;
}
form{
    padding: 25px;
    margin: 70px;
    
    
    align-items: center;
}
p{
    text-align: center;
    color: rgb(87, 66, 0);
}
#txtidade{
    margin-left: 37%;
}
#mas{
    margin-left: 36%;
}
#botao{
    background-color: rgb(229, 255, 136);
    border-radius: 5px;
    font-size: 15px;
    margin-left: 45%;
}
section{
    align-items: center;
    background-color: rgb(163, 217, 255);
    margin-left: 20%;
    margin-right: 20%;
}
img{
    margin-left: 38%;
    width: 400px;
}